#app3 {
}
#app3 #square {
  width: 10vw;
  height: 10vw;
  border: aquamarine 4px solid;
  margin-top: 20px;
  margin-left: 20px;
  transition: transform 1s;
}
#app3 #square.active {
  transform: translateX(10vw);
  /* transition: linear; */
}
